@using System;
@using Task7._1._1.Common;
@using Task7._1._1.Entities;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @{

            var usersLogic = DependencyResolver.UsersLogic;
            var awardsLogic = DependencyResolver.AwardsLogic;
            var tableLogic = DependencyResolver.Table_Users_AwardsLogic;

            var awards = tableLogic.GetAwardsByUserID(0);
            foreach (var item in awards)
            {
                <p>@item.Title</p>
                }
            }

    </div>
</body>
</html>
